{% extends 'base.html' %}
{% block content %}
    <main>
        <div>
            <h1>My Accounts</h1>
            <table>
                <thead>
                    <tr>
                        <th colspan='2'>Name</th>
                        <th colspan='2'>Number</th>
                        <th colspan='2'>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in account_list %}
                        <tr>
                            <td colspan='2'>{{ account }}</td>
                            <td colspan='2'>{{ account.number }}</td>
                            <td colspan='2'>{{ account.receipts.all | length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
