{% extends 'base.html' %}
{% block content %}
    <main>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'categories_list' %}">Categories</a>
                </li>
                <li>
                    <a href="{% url 'account_list' %}">Accounts</a>
                </ul>
                <ul>
                    <li>
                        <a href="{% url 'create_receipt' %}">Create new receipt</a>
                    </li>
                    <li>
                        <a href="{% url 'create_category' %}">Create new category</a>
                    </li>
                    <li>
                        <a href="{% url 'create_account' %}">Create new account</a>
                    </li>
                </ul>
            </nav>
            <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th colspan='2'>Vendor</th>
                        <th colspan='2'>Total</th>
                        <th colspan='2'>Tax</th>
                        <th colspan='2'>Date</th>
                        <th colspan='2'>Category</th>
                        <th colspan='2'>Account</th>
                    </tr>
                </thead>
                <tbody>
                    {% for receipt in receipt_list %}
                        <tr>
                            <td colspan='2'>{{ receipt.vendor }}</td>
                            <td colspan='2'>{{ receipt.total }}</td>
                            <td colspan='2'>{{ receipt.tax }}</td>
                            <td colspan='2'>{{ receipt.date }}</td>
                            <td colspan='2'>{{ receipt.category }}</td>
                            <td colspan='2'>{{ receipt.account }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    {% endblock content %}
